.banner {
  background: #2c394a url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  background-size: 100% auto;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &--menu_active {
    background-position: center 250px;

    .banner--main {
      background-position: center;
      background-size: 100% auto;
    }

    .header {
      background-color: @bg-dark;
    }

    .header__nav {
      display: block;
    }
  }
}

.banner__slogan {
  width: 230px;
  display: block;
  margin-top: 20px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @white;

  &--competition {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 53px;
    line-height: 29px;
  }

  &--gallery {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 80px;
    line-height: 30px;
  }

  &--main {
    line-height: 29px;
    margin-top: 22px;
  }
}

.banner__overlay {
  display: block;
  transform: translate(-20px, 0);
}

@media (min-width: @tablet-width) {
  .banner {
    height: 435px;
    background: #2c394a url("../img/bg-back-tablet@1x.jpg") no-repeat center top;
    background-size: 1200px auto;
    overflow: hidden;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 100% auto;
    }

    &--main {
      height: 729px;
    }

    &--menu_active {
      height: 687px;
      background-position: center 250px;

      &.banner--main {
        height: 984px;
      }
    }
  }

  .banner__wrap {
    position: relative;
  }

  .banner__slogan {
    width: 600px;
    font-size: 50px;
    position: relative;
    z-index: 2;
    margin-top: 68px;
    margin-bottom: 35px;
    line-height: 58px;

    &--gallery {
      width: 360px;
      margin-bottom: 25px;
      padding-bottom: 110px;
      margin-top: 61px;
    }

    &--main {
      width: 200px;
      margin-left: 50px;
      font-size: 40px;
      line-height: 47px;
      margin-top: 93px;
      margin-bottom: 32px;
    }

    &--competition {
      margin-top: 60px;
      line-height: 60px;
      margin-bottom: 0;
    }
  }

  .banner__overlay {
    width: 700px;
    max-width: 700px;
    height: 545px;
    position: absolute;
    left: 0;
    top: -20px;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    overflow-x: hidden;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--menu_active {
      height: 395px;
      background-position: center top;

      &.banner--main {
        height: 853px;
      }

      .header {
        background-color: @black-opacity;
      }
    }

    &--main {
      height: 853px;
    }
  }

  .banner__slogan {
    width: 650px;
    margin-top: 55px;

    &--main {
      width: 237px;
      margin-top: 108px;
      margin-bottom: 55px;
      margin-left: 20px;
      font-size: 50px;
      line-height: 58px;
    }

    &--competition {
      width: 800px;
    }
  }

  .banner__overlay {
    width: 1050px;
    max-width: 1050px;
    height: 645px;
    top: -10px;
    left: 45px;
    object-fit: contain;
  }
}
