.fact {
  display: none;
}

.fact__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: @color-text;
}

@media (min-width: @tablet-width) {
  .fact {
    width: 630px;
    display: block;
  }

  .fact__icon {
    width: 240px;
    height: 278px;
    display: block;
    margin: 50px 80px;
    background: url("../img/icon-clock-tablet.svg") no-repeat;
    content: "";
  }

  .fact__wrapper {
    padding-top: 5px;
    margin-left: 300px;
  }

  .fact__title {
    width: 200px;
  }

  .fact__description {
    width: 300px;
    font-size: 14px;
    line-height: 24px;
    color: @color-subtext;
  }

  .fact__link {
    width: 300px;
    font-size: 14px;
    line-height: 24px;

    a {
      color: @color-contrast;
    }
  }
}

@media (min-width: @desktop-width) {
  .fact {
    width: 900px;
    display: block;
  }

  .fact__icon {
    width: 298px;
    height: 345px;
    display: block;
    margin: 20px 200px;
    background: url("../img/icon-clock-desktop.svg") no-repeat;
    content: "";
  }

  .fact__wrapper {
    padding-top: 70px;
    margin-left: 380px;
  }

  .fact__title {
    width: 500px;
  }

  .fact__description {
    width: 520px;
    font-size: 18px;
    line-height: 30px;
    color: @color-subtext;
  }

  .fact__link {
    font-size: 18px;
    line-height: 30px;

    a {
      color: @color-contrast;
    }
  }
}
