.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;

  &--index {
    display: none;
  }
}

.footer__map {
  min-width: 320px;
  height: 187px;
  margin-top: -76px;
  display: block;
  position: relative;
  background: url("../img/bg-map-mobile@1x.png") no-repeat top;
  background-position-y: -440px;
  z-index: -1;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 47px;
}

.footer__public {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__socials {
  width: 180px;
  height: 40px;
  margin-top: -5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  list-style-type: none;
}

.footer__account {
  width: 51px;
  height: 51px;
  position: relative;
}

.footer__link {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 3px @bg-light solid;
  box-sizing: border-box;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    border: 3px @color-subtext solid;
  }

  &:active {
    border: 3px rgba(0, 0, 0, 0.1) solid;
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: @color-contrast;

    &:active {
      fill: @color-contrast-opacity;
    }
  }
}

.footer__developer {
  font-size: 14px;
  line-height: 18px;
  color: @color-subtext;

  svg {
    padding-left: 10px;
    vertical-align: middle;
    left: 50%;
    top: 50%;
    transform: translate(-5%, -10%);
    fill: @color-contrast;

    &:hover {
      fill: @color-subtext;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--index {
      padding-top: 432px;
    }
  }

  .footer__map {
    height: 395px;
    margin-top: -90px;
    display: block;
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat center;
    background-position-y: -325px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 660px auto;
    }
  }

  .footer__socials {
    width: 190px;
    margin-top: -5px;
    margin-left: -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
  }

  .footer__account {
    width: 51px;
    height: 51px;
  }

  .footer__developer {
    margin-top: 0;
    margin-bottom: 22px;

    svg {
      transform: translate(-5%, 5%);
    }
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    padding-bottom: 72px;

    &--index {
      padding-top: 458px;
    }
  }

  .footer__developer {
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 18px;
  }

  .footer {
    .center {
      padding: 0 9px;
    }
  }

  .footer__map {
    padding-top: 100px;
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat center;
    background-position-y: -285px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 960px auto;
    }
  }

  .footer__pink {
    margin-bottom: 14px;
  }

  .footer__public {
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 34px;
  }

  .footer__logo {
    margin-bottom: 0;
  }
}
