.header {
  display: flex;
  flex-direction: column;
  background-color: @bg-dark;
  opacity: 0.3;
  color: @white;
}

.header__logo {
  height: 22px;
}

@media (min-width: @tablet-width) {
  .header__logo {
    order: 2;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    order: 2;
    height: 40px;
  }
}
