.photo-editor__button {
  font-size: 18px;
  font-weight: 700;
  border: 3px solid;
  border-radius: 50px;

  &--post {
    color: @color-contrast;
    border-color: @color-contrast;
  }

  &--cancel {
    color: @color-subtext;
    border-color: @color-subtext;
    opacity: 0.1;
  }
}

.photo-editor__filtres {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.photo-editor__icon {
  width: 44px;
  height: 44px;
  display: block;
  fill: #b5b9be;

  &:hover {
    fill: #8d949b;
  }

  &:active {
    fill: @color-contrast;
  }
}

.photo-editor__scale {
  &--active {
    width: 240px;
    height: 2px;
    background-color: @black;
  }
}
