.reviews::after {
  width: auto;
  height: 94px;
  display: block;
  background: @bg-light url("../img/bg-triangle-white.svg") no-repeat center;
  content: "";
}

.reviews__wrapper {
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 35px;
  background-color: @bg-base;
}

.reviews__item {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.reviews__user {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  color: @color-text;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: @color-subtext;
}

.reviews__other {
  display: none;
}

.reviews__toggle {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin-top: 80px;
  }

  .reviews__wrapper {
    margin-bottom: 25px;
  }

  .reviews__item {
    width: 620px;
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__user {
    margin-top: 15px;
    font-size: 20px;
  }

  .reviews__other {
    display: block;
    margin-top: 7px;
    order: -1;
    font-size: 14px;
    color: @color-subtext;
  }

  .reviews__text {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    margin-top: 75px;
  }

  .reviews__item {
    width: 700px;

    &::after {
      width: 79px;
      height: 64px;
      padding-right: 0;
      display: flex;
      align-self: center;
      background: url("../img/icon-quotes.svg") no-repeat;
      opacity: 0.1;
      content: "";
    }
  }

  .reviews__user {
    font-size: 24px;
  }

  .reviews__text {
    margin-top: 45px;
  }

  .reviews__other {
    font-size: 18px;
  }

  .reviews__scrolling {
    width: 940px;
    margin-top: 140px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
  }

  .reviews__toggle {
    display: block;

    &--prev {
      width: 22px;
      height: 41px;
      background: url("../img/icon-review-arrow-left.svg") no-repeat;
      opacity: 0.3;
      content: "";
      border: none;
    }

    &--next {
      width: 22px;
      height: 41px;
      background: url("../img/icon-review-arrow-right.svg") no-repeat;
      opacity: 0.3;
      content: "";
      border: none;
    }
  }
}
