.reviews {
  &__wrapper {
    background-color: @bg-base;
  }

  &__user {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    color: @color-text;
  }

  &__text {
    font-size: 14px;
    line-height: 30px;
    color: @color-subtext;
  }
}
