.system {
  color: @white;
  background-color: @bg-mobile;

  &__button {
    font-size: 18px;
    font-weight: 700;
    color: @white;
    background-color: @bg-mobile;
    border: 3px @white solid;
    border-radius: 50px;
  }

  &__description {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }

  &__list {
    list-style-type: none;
  }
}
