.tariffs {
  &__wrapper {
    background-color: @bg-light;
  }

  &__list {
    list-style-type: none;
  }

  &__title {
    background-color: @bg-dark;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: @white;
  }

  &__price {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    color: @white;
  }

  &__option {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    list-style-type: none;
    color: @color-subtext;
  }
}
