.form {
  line-height: 30px;
  color: @color-subtext;
}

.form__header {
  font-size: 14px;
}

.form-fullname,
.form-contacts,
.form-text {
  font-size: 14px;
  text-transform: uppercase;
  color: @color-contrast;
}

.form-fullname input {
  color: @color-subtext;
}

.form-achievements,
.form-statistics {
  background-color: @bg-light;
}

.form-achievements__header,
.form-statistics__header {
  line-height: 18px;
  text-transform: uppercase;
  color: @color-contrast;
}

.form-achievements__list,
.form-statistics__list {
  font-size: 18px;
  list-style-type: none;
}

.form-text textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
}

.form-text__button,
.form-popup__button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px #2aab6d solid;
  border-radius: 2px;
  background-color: #2aab6d;
  color: @white;
}

.form__footnote {
  font-size: 14px;
  text-transform: uppercase;
}

.form__footnote--contrast {
  color: @color-contrast;
}

.form-popup__header {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
}

.form-popup__text {
  font-size: 14px;
  line-height: 24px;
  color: @color-subtext;
}
