@white: #ffffff;
@white-opacity: rgba(255, 255, 255, 0.3);
@black: #000000;
@black-opacity: rgba(0, 0, 0, 0.3);

@bg-base: @white;
@bg-light: #f2f2f2;
@border-gray: #e5e5e5;
@bg-dark: #283645;
@bg-mobile: #1d2631;

@color-contrast: #d22856;
@color-contrast-opacity: rgba(210, 40, 86, 0.3);
@color-text: @black;
@color-subtext: #283645;
@tablet-width: 660px;
@desktop-width: 960px;
@mobile-width-only: 959px;
